# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore Python virtual environment folder
venv/
env/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment variable files
.env
.env.*

# VSCode settings (optional)
.vscode/

# macOS / Windows / Linux system files (optional)
.DS_Store
Thumbs.db


.env

