@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    overflow-x: hidden;
}

.bg-custom-dark {
    @apply bg-[#0a1220];
  }
/* styles.css */
.navText {
    @apply text-white;   /* Tailwind utility for text color */
    font-family: 'Inter', sans-serif;  /* Custom font family */
    font-weight: 400;  /* Custom font weight */
    font-size: 15px;   /* Custom font size */
    line-height: 1.2;
    letter-spacing: -0.5px;
    vertical-align: middle; /* Vertical alignment */
  }
  .primary-bg {
    @apply bg-[#6366f1];
  }
  